[submodule "taskage-client"]
	path = taskage-client
	url = https://github.com/urluconceptual/taskage-client
[submodule "taskage-core"]
	path = taskage-core
	url = https://github.com/urluconceptual/taskage-core
[submodule "taskage-gateway"]
	path = taskage-gateway
	url = https://github.com/urluconceptual/taskage-gateway
[submodule "taskage-helper"]
	path = taskage-helper
	url = https://github.com/urluconceptual/taskage-helper
